.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}

.logo {
  width: 33%;
}

.logo_pc {
  margin-top: 1rem;
  margin-left: 1rem;
}

.logo_sp {
  display: none;
}

.title {
  width: 33%;
  font-size: 3rem;
  font-family: century;
  text-align: center;
  margin-top: 1rem;
}

.home-button {
  width: 33%;
}

.home {
  background: linear-gradient(to left, currentColor 5px, transparent 0)
      no-repeat 0 bottom/4px 2px,
    linear-gradient(to left, currentColor 5px, transparent 0) no-repeat right
      bottom/4px 2px;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 40px;
  height: 25px;
  border: 0.3rem solid;
  border-top: 0;
  border-bottom: 0;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin: 2rem 2rem 10px auto;
  color: #000;
}

.home::after,
.home::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.home::before {
  border-top: 0.3rem solid;
  border-left: 0.3rem solid;
  border-top-left-radius: 4px;
  transform: rotate(45deg);
  top: -13px;
  border-radius: 3px;
  width: 28px;
  height: 28px;
  left: 1px;
}

.home::after {
  width: 24px;
  height: 22px;
  border: 0.3rem solid;
  border-radius: 100px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
  left: 4px;
  bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .logo_small {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
  }

  .title {
    font-size: 2.5rem;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .logo_pc {
    display: none;
  }

  .logo_sp {
    display: block;
    margin-top: 0;
    margin-left: 5%;
  }

  .title {
    font-size: 2.5rem;
    margin: 0;
  }
}
