.player1 {
  color: red;
  float: left;
  margin-left: 15%;
}

.player2 {
  color: blue;
  float: right;
  margin-right: 15%;
}

.tytle {
  text-align: center;
  margin-top: 0;
}

.command {
  margin-top: 13%;
  text-align: center;
}

.command h2 {
  margin: 0;
}

.leave {
  float: left;
  margin-left: 10%;
  margin-bottom: 0;
}

.waza {
  text-align: center;
  margin-right: 10%;
  margin-bottom: 0;
}

.main {
  /* スクロール無効化
    overflow: hidden;
    */
  margin: 0;
}

/* .button {
  font-size: 20px;
  margin-left: 1%;
  margin-right: 1%;
} */

.button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 0 30px;
  font-size: 19px;
  height: 40px;
  line-height: 40px!;
  background: #51587b;
  font-size: 20px;
  color: rgb(255, 255, 255);
  transition: 0.4s;
  margin-left: 1%;
  margin-right: 1%;
}

.button:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 21px white;
  border-bottom: solid 41px transparent;
  z-index: 1;
  transition: 0.4s;
}

.button:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 21px transparent;
  border-bottom: solid 41px white;
  z-index: 1;
  transition: 0.4s;
}

.button:active:before,
.button:active:after {
  border-left-width: 100px;
}

.deg_btn:active {
  background: #2c3148;
}

.parent {
  display: flex;
  height: 30%;
  justify-content: space-between;
  margin-right: 10%;
}

.ability {
  position: absolute;
  bottom: 20%;
}

.log {
  margin-top: 10%;
  height: 100%;
  overflow: scroll;
}

.message {
  text-align: center;
  font-size: 20px;
}
