body {
  /* スクロール無効化
  overflow: hidden;
  */
  margin: 0;
}
main {
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
  margin: 2rem auto;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.sub-title {
  font-size: 5rem;
  font-family: century;
  margin-top: 0;
}

input {
  font-size: 2rem;
  border: #cccccc 2px solid;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}

.button {
  display: inline-block;
  width: 20vh;
  padding: 0.3rem 0.75rem;
  margin-left: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Lucida Console", century;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.05em;
  color: #4689ff;
  background-color: #ffffff;
  border: #4689ff solid 0.1rem;
  border-radius: 2rem;
  box-shadow: #4689ff 0.2rem 0.2rem 0.1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  color: #ffffff;
  background-color: #4689ff;
  box-shadow: none;
}
