main {
  height: 100vh;
}

/* index.tsx */
.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  color: #dd0000;
  font-size: 10rem;
  font-family: century;
}

.main-title-text {
  font-style: italic;
  margin-right: 1rem;
}

.content {
  text-align: center;
}

.advance-button {
  border: none;
  background: transparent;
}

.sub-title {
  font-size: 3rem;
  font-family: "Lucida Console", century;
  color: #4689ff;
}
