.button {
  display: inline-block;
  width: 55vh;
  padding: 0.75rem 1rem;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Lucida Console", century;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.05em;
  color: #4689ff;
  background-color: #ffffff;
  border: #4689ff solid 0.1rem;
  border-radius: 2rem;
  box-shadow: #4689ff 0.2rem 0.2rem 0.1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:active {
  color: #ffffff;
  background-color: #4689ff;
  box-shadow: none;
}

.text {
  font-size: 2rem;
  font-family: "Lucida Console", century;
  margin: 1rem auto;
}
