.image {
  width: 90%;
  height: auto;
  object-fit: cover;
}

.logo_large {
  margin-top: 10rem;
}

.credit {
  margin: 15px 15px 15px 15px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.yahoo {
  margin: 15px 15px 15px 15px;
  position: absolute;
  right: 0;
  bottom: 0;
}
