.player1 {
  color: red;
  float: left;
  margin-left: 20%;
}
.player2 {
  color: blue;
  float: right;
  margin-right: 20%;
}
.tytle {
  text-align: center;
  margin-top: 5%;
}
.command {
  margin-top: 18%;
  text-align: center;
}
.leave {
  float: left;
  margin-left: 10%;
}
.waza {
  text-align: center;
  margin-right: 10%;
}
.main {
  /* スクロール無効化
    overflow: hidden;
    */
  margin: 0;
}
/* .button {
  font-size: 20px;
  margin-left: 1%;
  margin-right: 1%;
} */
.button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 0 30px;
  font-size: 19px;
  height: 40px;
  line-height: 40px!;
  background: #51587b;
  font-size: 20px;
  color: rgb(255, 255, 255);
  transition: 0.4s;
  margin-left: 1%;
  margin-right: 1%;
}

.button:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 21px white;
  border-bottom: solid 41px transparent;
  z-index: 1;
  transition: 0.4s;
}

.button:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 21px transparent;
  border-bottom: solid 41px white;
  z-index: 1;
  transition: 0.4s;
}
.button:hover:before,
.button:hover:after {
  border-left-width: 25px;
}
.deg_btn:hover {
  background: #2c3148;
}
