.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  padding: 3rem 5rem;
}

.content {
  position: relative;
  height: 90%;
  width: 90%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.content::before {
  content: "";
  display: block;
  padding-top: 142.5%;
}

.content div {
  width: 100%;
}

.content .back,
.content .front {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0.3rem 0.3rem 0.2rem #ccc;
  cursor: pointer;
  transition: all 1s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  padding: 5%;
}

.back {
  transform: rotateY(180deg);
}

.content:hover .back {
  transform: rotateY(0deg);
}

.actions {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 100%;
  margin: 0;
}

.actions li {
  height: 25%;
}

.action-name {
  font-size: 1rem;
  font-weight: bold;
  text-align: start;
  margin: 0;
}

.action-description {
  font-size: 0.7rem;
  text-align: start;
  padding-top: 1%;
  margin: 0;
}

.content:hover .front {
  transform: rotateY(180deg);
}

.name {
  height: 25%;
  width: 90%;
  font-size: 0.5rem;
  font-weight: bold;
  text-align: start;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  margin: 0;
}

.name h1 {
  margin: 0;
}

.image_box {
  height: 30%;
  margin: 1rem auto;
}

.image {
  height: 100%;
}

.status {
  height: 35%;
  width: 70%;
}

.status td {
  width: 50%;
  font-size: 1rem;
  font-weight: bold;
}

.status .data1 {
  text-align: left;
}

.status .data2 {
  text-align: right;
}

.button_box {
  height: 10%;
  text-align: center;
  margin-top: 1rem;
}

.button {
  display: inline-block;
  width: 20vh;
  padding: 0.5rem 0.5rem;
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Lucida Console", century;
  text-align: center;
  text-decoration: none;
  color: #4689ff;
  background-color: #ffffff;
  border: #4689ff solid 0.1rem;
  border-radius: 2rem;
  box-shadow: #4689ff 0.2rem 0.2rem 0.1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:active {
  color: #ffffff;
  background-color: #4689ff;
  box-shadow: none;
}

.select_id {
  text-align: center;
  font-size: 2rem;
}
.btn:active {
}
