.wrapper {
  display: grid;
  align-items: center;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: stretch;
  margin: 3rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 50vh;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.name {
  font-size: 0.6rem;
  font-weight: bold;
  height: 20%;
  margin: 0;
}

.name h1 {
  margin: 0;
}

.image {
  width: auto;
  height: 30%;
  border-radius: 0.5rem;
  margin: 0.5rem auto;
}

.status {
  height: 35%;
  margin: 0.5rem auto;
}

.status tr {
  font-size: 1.2rem;
  font-weight: bold;
}

.status.data1 {
  width: 50%;
  text-align: start;
}

.status .data2 {
  width: 50%;
  text-align: end;
}

.button {
  height: 15%;
}
