.button {
  display: inline-block;
  width: 55vh;
  padding: 0.75rem 1rem;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Lucida Console", century;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.05em;
  color: #4689ff;
  background-color: #ffffff;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.button:hover {
  color: #ffffff;
  background-color: #4689ff;
}

.text {
  font-size: 2rem;
  font-family: "Lucida Console", century;
  margin: 1rem auto;
}
