.button {
  display: inline-block;
  width: 20vh;
  padding: 0.3rem 0.75rem;
  margin: 2rem auto;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Lucida Console", century;
  text-align: center;
  text-decoration: none;
  color: #4689ff;
  background-color: #ffffff;
  border: #4689ff solid 0.1rem;
  border-radius: 2rem;
  box-shadow: #4689ff 0.2rem 0.2rem 0.1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  color: #ffffff;
  background-color: #4689ff;
  box-shadow: none;
}

.label {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: century;
  margin: 3rem auto 0.5rem auto;
}

.user_name {
  font-size: 2rem;
  border: #cccccc 2px solid;
  border-radius: 2rem;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
}

.one_word {
  font-size: 2rem;
  border: #cccccc 2px solid;
  border-radius: 2rem;
  box-sizing: border-box;
  white-space: pre-wrap;
  padding: 0.5rem 1rem;
}
