.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0.3rem 0.3rem 0.2rem #ccc;
  padding: 0.7rem;
}

.name {
  height: 25%;
  font-size: 0.5rem;
  font-weight: bold;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.name h1 {
  margin: 0;
}

.image_box {
  height: 30%;
  margin: 1rem auto;
}

.image {
  height: 100%;
}

.status {
  height: 35%;
}

.status td {
  width: 50%;
  font-weight: bold;
}

.status .data1 {
  text-align: left;
}

.status .data2 {
  text-align: right;
}

.button {
  display: inline-block;
  width: 20vh;
  padding: 0.3rem 0.75rem;
  margin-left: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Lucida Console", century;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.05em;
  color: #4689ff;
  background-color: #ffffff;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.button:hover {
  color: #ffffff;
  background-color: #4689ff;
}
