.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.button {
  display: inline-block;
  width: 20vh;
  padding: 0.3rem 0.75rem;
  margin-left: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Lucida Console", century;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.05em;
  color: #4689ff;
  background-color: #ffffff;
  border: #4689ff solid 0.1rem;
  border-radius: 2rem;
  box-shadow: #4689ff 0.2rem 0.2rem 0.1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  color: #ffffff;
  background-color: #4689ff;
  box-shadow: none;
}

.info-reg {
  height: 80%;
  width: 60%;
}

.information {
  display: flex;
  justify-content: center;
}

.img-name-price {
  width: 30%;
  margin: 5% 0 0 5%;
}

.image {
  text-align: center;
}

.name {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.price {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin-top: 5%;
}

.status-actions {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 0 5%;
}

.status {
  height: 35%;
}

.status td {
  width: 50%;
  font-weight: bold;
}

.status .data1 {
  text-align: left;
}

.status .data2 {
  text-align: right;
}

.actions li {
  font-weight: bold;
  font-family: "Lucida Console", century;
  text-align: center;
  border: 1px solid #000;
  border-radius: 0.5rem;
  padding: 0.1rem;
  margin-top: 3%;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration_button {
  display: inline-block;
  width: 20%;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Lucida Console", century;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.05em;
  color: #4689ff;
  background-color: #ffffff;
  border: #4689ff solid 0.1rem;
  border-radius: 2rem;
  box-shadow: #4689ff 0.2rem 0.2rem 0.1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 0.5rem 0.75rem;
  margin: 5% 5%;
}

.registration_button:hover {
  color: #ffffff;
  background-color: #4689ff;
  box-shadow: none;
}
